[DEFAULT]
gene_type=protein_coding


[file_path]

proj_dir=/project0/OM-mRNA-pig-limingzhou-P160901/sus_scrofa/analysis_results
ref_dir=%(proj_dir)s/referrence
quant_dir=%(proj_dir)s/quantification/%(gene_type)s
tissue_specific_dir=%(proj_dir)s/tissue_specific/%(gene_type)s

[file_name]

all_tpm=%(gene_type)s.tpm.txt
exp_tpm=exp.%(gene_type)s.tpm.txt


[parameter]

gene_type=protein_coding
lncRNA_exp_cutoff=0.1
protein_coding_exp_cutoff=0.1
TUCP_exp_cutoff=0.1
circRNA_exp_cutoff=0.05
miRNA_exp_cutoff=1

